<script type="text/javascript">
    jQuery().ready(function (){
        $.jgrid.defaults.width = 780;
        $.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap';
        jQuery("#GrillaProveedores").jqGrid({
            url: '{{ path('grupo_proveedorXml') }}?grupoId={{grupoId}}',
            datatype: "xml",
            colModel:[
                    {label:'', name:'asignado', index:'asignado', width: 16, search:false,align:'center', sortable:false},
                    {label:'NIT', name:'nit', index:'p.nit',width:40},
                    {label:'CODIGO', name:'codigo', index:'p.codigo',width:40},
                    {label:'EMPRESA', name:'empresa', index:'p.nombre'},
                    {label:'NOMBRE', name:'nombre', index:'p.representanteLegal'}
            ],
            rowNum: 100,
            width: ($(window).width()-6),
            rowList: [100,200,300,400],
            pager: '#pGrillaProveedores',
            sortname: 'p.nit',
            viewrecords: true,
            sortorder: "DESC",
            subGrid: true, // set the subGrid property to true to show expand buttons for each row
            subGridRowExpanded: showChildGrid,
            height:($(window).height()-250),
            toolbar: [true,'bottom'],
            loadComplete: function(){
                $('.selectProveedor').click(function(){
                    var id = $(this).attr('id').split('_')[1];
                    var icon = $(this);
                    icon.addClass('fa-circle-o-notch fa-spin');
                    if(icon.hasClass( "text-warning" )){
                       $.post("{{ path('grupo_proveedorAgregar') }}",{ grupoId:{{ grupoId }}, padreId: id },function(data){
                           $('#t_GrillaProveedores').html('El Proveedor se ha agregado con exito a el grupo.');
                           reload('#GrillaProveedores_'+id+'_table');
                           icon.removeClass('fa-exclamation-circle text-warning fa-circle-o-notch fa-spin');
                           icon.addClass('fa-check text-success');
                       }, "json");
                    }else{
                       $.post("{{ path('grupo_proveedorEliminar') }}", { grupoId:{{ grupoId }}, proveedorId: id },function(data){
                           $('#t_GrillaProveedores').html('El Proveedor se ha eliminado del grupo con exito.');
                           reload('#GrillaProveedores_'+id+'_table');
                           icon.removeClass('fa-check text-success fa-circle-o-notch fa-spin');
                           icon.addClass('fa-exclamation-circle text-warning');
                       }, "json");
                    }
                });
            }
        }).navGrid('#pGrillaProveedores',{edit:false,add:false,del:false},{},{},{},{multipleSearch:true});
        $("#GrillaProveedores").jqGrid('navButtonAdd','#pGrillaProveedores',{ caption:'<span class="text-success"><i class="fa fa-plus-square-o"></i> Agregar Todos<span>',buttonicon:"none", onClickButton:function(){
            noty({layout:'center',text:'Cargando, por favor espere...<br><center><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></center>',modal:true,type:'alert',timeout:false,closeWith:['none']});
            $.post("{{ path('grupo_proveedorAgregar') }}?"+ConsultaActualGrillas("#GrillaProveedores")+'&multiple=true', { grupoId:{{ grupoId }} },
            function(data){
                $.noty.closeAll();
                reload('#GrillaProveedores');
                MensajeConfirmacion('Los Proveedores se han agregado con exito a el grupo.');
            }, "json");
        }});
        $("#GrillaProveedores").jqGrid('navButtonAdd','#pGrillaProveedores',{ caption:'<span class="text-danger"><i class="fa fa-trash"></i> Eliminar Todos<span>',buttonicon:"none", onClickButton:function(){
            noty({layout:'center',text:'Cargando, por favor espere...<br><center><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></center>',modal:true,type:'alert',timeout:false,closeWith:['none']});
            $.post("{{ path('grupo_proveedorEliminar') }}?"+ConsultaActualGrillas("#GrillaProveedores")+'&multiple=true', { grupoId:{{ grupoId }} },
            function(data){
                $.noty.closeAll();
                reload('#GrillaProveedores');
                MensajeConfirmacion('Los Proveedor se han eliminado con exito de el grupo.');
            }, "json");
        }});
        $("#GrillaProveedores").jqGrid('navButtonAdd','#pGrillaProveedores',{ title:"Cargar destinatarios", caption: '<span class="text-primary"><i class="fa fa-upload"></i> Cargar Destinatarios<span> ', buttonicon:"none", onClickButton:function(){
            noty({layout:'center',text:'Cargando, por favor espere...<br><center><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></center>',modal:true,type:'alert',timeout:false,closeWith:['none']});
            $('#tituloModal').html('Cargar Archivo');
            $('#contenidoModal').load('{{path('grupo_cargaArchivo')}}?grupoId={{grupoId}}', function(){
                $('#modal').modal('show');
                $.noty.closeAll();
            });
        }});
    });
    function showChildGrid(parentRowID, parentRowKey) {
        var childGridID = parentRowID + "_table";
        var childGridPagerID = parentRowID + "_pager";
        $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
        $("#" + childGridID).jqGrid({
            url: '{{ path('grupo_proveedorContatosXml') }}?porveedorId='+parentRowKey+'&grupoId={{grupoId}}',
            datatype: "xml",
            colModel: [
                { label: 'id', name: 'id', hidden:true },
                { label:'', name:'asignado', index:'asignado', width: 16, search:false,align:'center'},
                { label: 'Nombre', name: 'RequiredDate', width: 100 },
                { label: 'Ciudad', name: 'ShipName', width: 100 },
                { label: 'Email', name: 'ShipCity', width: 100 },
                { label: 'Telefono', name: 'Freight', width: 75 },
                { label: 'Movil', name: 'Freight', width: 75 },
            ],
            rowNum: 100,
            width: ($(window).width()-56),
            sortname: 'c.id',
            viewrecords: true,
            sortorder: "DESC",
            height: '100%',
            pager: "#" + childGridPagerID,
            loadComplete: function(){
                $('.selectProveedorContato').click(function(){
                    var id = $(this).attr('id').split('_')[1];
                    var icon = $(this);
                    icon.addClass('fa-circle-o-notch fa-spin');
                    if(icon.hasClass( "text-warning" )){
                       $.post("{{ path('grupo_proveedorContactoAgregar') }}",{ grupoId:{{ grupoId }}, padreId: parentRowKey, proveedorContacto: id },function(data){
                           $('#t_GrillaProveedores').html('El Contacto del proveedor se ha agregado con exito a el grupo.');
                           icon.removeClass('fa-exclamation-circle text-warning fa-circle-o-notch fa-spin');
                           icon.addClass('fa-check text-success');
                       }, "json");
                    }else{
                       $.post("{{ path('grupo_proveedorContactoEliminar') }}", { grupoId:{{ grupoId }}, proveedorId: parentRowKey, proveedorContacto: id },function(data){
                           $('#t_GrillaProveedores').html('El Contacto del proveedor se ha eliminado del grupo con exito.');
                           icon.removeClass('fa-check text-success fa-circle-o-notch fa-spin');
                           icon.addClass('fa-exclamation-circle text-warning');
                       }, "json");
                    }
                });
            }
        }).navGrid("#" + childGridPagerID,{edit:false,add:false,del:false,search:false,refresh:false},{},{},{},{multipleSearch:false});
    }
    function reload(gilla){jQuery(gilla).trigger("reloadGrid");}
</script>